<h3><%= group %>: <%= type %></h3>
<input id="item-name" type="text" placeholder="item name" maxlength="4" value="<%= item_name %>">
<% if(has_sameitem) { %>
    <button id="same-type" type="button" href="#modal-container" data-toggle="modal">选同款</button>
<% } %>
<hr/>

<% for(var i=0; i<attributes.length; i++) { %>
    <div class="panel panel-info attribute" name="<%= attributes[i].attr_name %>" id="<%= attributes[i].attrn_id %>">
        <div class="panel-heading">
            <a class="panel-title collapsed" href="#subpanel-element-<%= i %>" data-toggle="collapse" data-parent="#panel-parent-attr">
                <div style="width: inherit;">
                    <%= attributes[i].attr_name %>
                    <% if(attributes[i].multi) { %>
                        (可多选)
                    <% } %>
                </div>
            </a>
        </div>
        <div class="panel-collapse collapse" id="subpanel-element-<%= i %>">
            <div class="panel-body">
                <% for(var j=0; j<attributes[i].attr_values.length; j++) { %>
                    <% if(attributes[i].multi) { %>
                        <input type="checkbox" id="<%= i %>_<%= j %>" name="<%= attributes[i].attr_name %>" style="display: none;" />
                    <% } else { %>
                        <input type="radio" id="<%= i %>_<%= j %>" name="<%= attributes[i].attr_name %>" style="display: none;" />
                    <% } %> 
                    <label for="<%= i %>_<%= j %>">
                        <span class="label label-default label-color-change" attr_value="<%= attributes[i].attr_values[j] %>" attrv-id="<%= attributes[i].attrv_ids[j] %>"><%= attributes[i].attr_values[j] %></span>
                    </label>
                <% } %>
            </div>
        </div>
    </div>    
<% } %>  
<button class="btn btn-success btn-block" type="button" id="submit-item" disabled>提交</button>
<button class="btn btn-warning btn-block" type="button" id="return-groups">返回</button>
