<% for(var i=0; i<groups.length; i++) { %>
    <div class="panel panel-info">
        <div class="panel-heading">
            <a class="panel-title collapsed" href="#panel-element-<%= i %>" data-toggle="collapse" data-parent="#panel-parent-groups">
                <div style="width: inherit;">
                    <%= groups[i].group %>
                </div>
            </a>
        </div>
        <div class="panel-collapse collapse" id="panel-element-<%= i %>">
            <div class="panel-body">
                <% for(var j=0; j<groups[i].types.length; j++) { %>
                    <span class="label label-default addAttributes" father="<%= groups[i].group %>" name="<%= groups[i].types[j].type %>"><%= groups[i].types[j].type %></span>
                <% } %>
            </div>
        </div>
    </div>    
<% } %>
<button class="btn btn-warning btn-block" type="button" id="return-tags">返回</button>